*{
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
    color: white;
    background-color: transparent;
}
.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: red;
	color:white;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
.navbar-scrolled {
    background-color: red; /* Scrolled background color */
  }
.work_hr{
    height: 100px;
    width: 50px;
    background-color:#1f3485;
    border-radius: 75px;

}
.work{
    font-size: 40px;
    font-weight: bold;
    color:#1f3485;
}
#display{
    font-size:  50px;
    font-weight: bold;

}

#img_display{
    height:90%;
    width: auto;
 

}
#hr1{
    color: rgb(0, 0, 0);
    opacity: 1;
    height: 10px;
    width: 125px;
    border-radius: 75px;
    align-self: center;

}
#webc{
    font-size: 35px;
    font-weight: bold;
}
#camera
{
 
    border:1px solid grey;
}
.navbar{
    position: sticky;
}
.nav-link:hover{
    font-size: large;
    color:white;
}
.hh{
    color: green;
    font-size: 20px;
}
.fa-4x{
    color: green;

}